@use 'variable';
@use 'mixin';

$base-color: variable.$green;
@for $i from 1 through 6 {
  .adv-item:nth-child(#{$i}) {
    background-color: lighten($base-color, $i * 5%);
  }
}
  
body {
    font: 100% "Space Mono", monospace;
    color: variable.$cl2;
    margin: 0;
    padding: 0;
    background-color: variable.$blanc;
    overflow-x: hidden;
}

main{
    padding-bottom: 0;
    }

article{
    display: flex;
    flex-wrap: wrap;
    padding: variable.$p10;

    & section{
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px variable.$cl3 solid;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
    @include mixin.boxshadow(variable.$black);
    }

    & #selling-points{
        flex-grow: 2;
        flex-basis: 100%;
    }

    & code{
        background: variable.$black;
        border: 1px solid variable.$cl2;
        color: variable.$cl3;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;

        & .before{
            float: left;
            width: 40%;
        }

        & .after {
            float: right;
            width: 40%;
        }
    }
}

.messages{
    border: 1px solid  variable.$cl3;
    padding: 16px;
    color: variable.$blanc;

    & .success{
        background-color: variable.$green;
    }

    & .error{
        background-color: variable.$red;
    }

    & .warning{
        background-color: variable.$orange;
    }

    & :hover{
        background-color: variable.$green;
    }
}   

footer{

    & h3{
        padding: variable.$p10*2;
    }
}